apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: projet-systeme-reparti-backend
        ports:
        - containerPort: 8000
        env:
        - name: DB_HOST
          value: postgres
        imagePullPolicy: Never

---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 8000
      nodePort: 30007
